aiohttp
async-timeout
asyncio
attrs
beautifulsoup4
bs4
certifi
cffi
chardet
datadispatch
DateTime
discord
discord.py
dnspython
idna
multidict
pip
pycparser
pymongo
PyNaCl
pytz
requests
setuptools
six
soupsieve
tabulate
tasks
urllib3
websockets
yarl
zope.interface